---
import BtnRedes from './BtnRedes.astro';
import CircularText from './CircularText';
---


<section>
    <div class="w-full  h-[20vh] bg-preto-principal cinza relative px-[2rem] lg:px-[11rem] fonte-secundaria flex items-center ">


        <div class="w-full flex justify-start items-center h-1/2"><h3>Copyright © 2025 Victor Feitosa. All rights reserved.</h3></div>
    </div>
</section>