

<header class="fixed inset-x-0 bottom-0 lg:top-6 lg:bottom-auto mx-auto h-[4rem] w-full md:w-[50%] lg:w-[30%] text-center py-4 bg-preto-principal  lg:opacity-70 backdrop-blur-md z-50 rounded-t-[25px] lg:rounded-[35px]">
  <nav class="flex justify-center items-center h-full gap-[15%] lg:gap-[20%] font-bold text-xs lg:text-[1rem]">

    <a href="#home"  class="flex flex-col mb-3 lg:mb-0 ">
      <img src="/assets/home.png" class="scale-40 lg:hidden" />
      <p class="text-white hover:text-[#6D05FF]">Home</p>
    </a>

    <a href="#projetos" class="flex flex-col mb-3 lg:mb-0">
      <img src="/assets/layers.png" alt="projetos" class="scale-40 lg:hidden" />
      <p  class="text-white hover:text-[#6D05FF]">Projetos</p>
    </a>

    <a href="#contato" class="flex flex-col mb-3 lg:mb-0">
      <img src="/assets/email.png" alt="email" class="scale-40 lg:hidden" />
      <p class="text-white hover:text-[#6D05FF]">Contato</p>
    </a>
  </nav>
</header>
