

<header class="fixed inset-x-0 bottom-0 lg:top-6 lg:bottom-auto mx-auto h-[13%] w-full md:w-[50%] lg:w-[30%] text-center py-4 bg-preto-principal  lg:opacity-70 backdrop-blur-md z-50 rounded-t-[25px] lg:rounded-[35px]">
  <nav class="flex justify-center items-center h-full gap-[25%] lg:gap-[20%] font-bold text-xs lg:text-[1rem]">
    <a href="/" class="text-white hover:text-blue-500">Home</a>
    <a href="/projects" class="text-white hover:text-blue-500">Projetos</a>
    <a href="/contact" class="text-white hover:text-blue-500">Contato</a>
  </nav>
</header>
